[submodule "dependencies/MMT"]
	path = dependencies/MMT
	url = git://github.com/dereulenspiegel/MemorizingTrustManager.git
[submodule "dependencies/colorpicker"]
	path = dependencies/colorpicker
	url = git://github.com/LarsWerkman/HoloColorPicker.git
[submodule "dependencies/WizarDroid"]
	path = dependencies/WizarDroid
	url = git://github.com/Nimrodda/WizarDroid.git
[submodule "dependencies/actionbarsherlock"]
	path = dependencies/actionbarsherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git
[submodule "dependencies/SwitchCompatLibrary"]
	path = dependencies/SwitchCompatLibrary
	url = git@github.com:dereulenspiegel/SwitchCompatLibrary.git
[submodule "dependencies/SherlockNavigationDrawer"]
	path = dependencies/SherlockNavigationDrawer
	url = git@github.com:dereulenspiegel/SherlockNavigationDrawer.git
